In [60]:
from imdb import IMDb
import pandas as pd

In [35]:
ia = IMDb()
breakingBad = ia.search_movie("Breaking Bad")

In [37]:
code = breakingBad[0].movieID
breaking_bad = ia.get_movie_episodes(code)

In [56]:
# Breaking Bad - Number of seasons
num_seasons = len(breaking_bad['data']['episodes'])
ratings = []

# Getting IMDb ratings of each episode of the show
for season in range(1, num_seasons + 1):
    # Episodes in a single season
    num_episodes = len(breaking_bad['data']['episodes'][season])
    curr_ratings = []
    # Getting IMDb ratings of each episode of a certain season
    for episode in range(1, num_episodes + 1):
        curr_code = breaking_bad['data']['episodes'][season][episode].movieID
        curr_episode = ia.get_movie(curr_code)
        curr_ratings.append(curr_episode.data['rating'])
    ratings.append(curr_ratings)

In [57]:
# Ratings for every episode of the show
ratings

[[9.0, 8.7, 8.8, 8.3, 8.4, 9.3, 8.9],
 [8.7, 9.3, 8.4, 8.3, 8.4, 8.9, 8.7, 9.2, 9.2, 8.6, 8.9, 9.3, 9.3],
 [8.6, 8.7, 8.5, 8.3, 8.7, 9.3, 9.6, 8.8, 8.5, 7.8, 8.5, 9.5, 9.7],
 [9.2, 8.3, 8.1, 8.7, 8.7, 8.5, 8.9, 9.3, 8.9, 9.6, 9.7, 9.5, 9.9],
 [9.3,
  8.9,
  8.9,
  8.9,
  9.7,
  9.1,
  9.6,
  9.6,
  9.5,
  9.2,
  9.6,
  9.2,
  9.8,
  10.0,
  9.7,
  9.9]]

In [68]:
df = pd.DataFrame(ratings)
df = df.transpose()
df.columns = ["Season 1", "Season 2", "Season 3", "Season 4", "Season 5"]
df

    Season 1  Season 2  Season 3  Season 4  Season 5
0        9.0       8.7       8.6       9.2       9.3
1        8.7       9.3       8.7       8.3       8.9
2        8.8       8.4       8.5       8.1       8.9
3        8.3       8.3       8.3       8.7       8.9
4        8.4       8.4       8.7       8.7       9.7
5        9.3       8.9       9.3       8.5       9.1
6        8.9       8.7       9.6       8.9       9.6
7        NaN       9.2       8.8       9.3       9.6
8        NaN       9.2       8.5       8.9       9.5
9        NaN       8.6       7.8       9.6       9.2
10       NaN       8.9       8.5       9.7       9.6
11       NaN       9.3       9.5       9.5       9.2
12       NaN       9.3       9.7       9.9       9.8
13       NaN       NaN       NaN       NaN      10.0
14       NaN       NaN       NaN       NaN       9.7
15       NaN       NaN       NaN       NaN       9.9